= form_for @contact do |f|
  =render partial: 'shared/errors', locals: {resource: @contact}

  .field
    =f.label :name
    =f.text_field :name
  .field
    =f.label :surname
    =f.text_field :surname
  .field
    =f.label :email
    =f.text_field :email
  .field
    =f.label :picture
    =f.file_field :picture, class: 'form-input'
  .field
    =f.label :type_of_contact
    =f.select :type_of_contact,
      Contact::type_of_contacts.keys.map{ |tc|                      \
        [t("contacts.types.#{tc}"),tc] }

  .actions = f.submit
